extends ../shared/template

block content
  h1= title

  #checkboxes
    h3= poll.question
    input#pId(type='hidden', data='#{poll._id}')
    each val, key in answers
      .checkbox
        input(type='checkbox', data='#{key}')
        | #{key}
    button#submitResponse Submit
